<% if message.user != current_user %>
  <div class="incoming_msg">
    <div class="incoming_msg_img">
      <%= cl_image_tag message.user.photo.key, class: "avatar" %>
    </div>
      <div class="received_msg">

          <span class="white-font"> <%= message.user.first_name %> </span>
          <p> <%= message.content %> </p>
          <span class="time_date"> <%= message.created_at.strftime("%a %b %e at %l:%M %p") %> </span>

      </div>
  </div>
<% end %>
<% if message.user == current_user %>
  <div class="outgoing_msg" data-sender-id="<%= current_user.id %>">
    <div class="sent_msg">
      <span class="white-font"> <%= message.user.first_name %> </span>
      <p><%= message.content %></p>
      <span class="time_date"> <%= message.created_at.strftime("%a %b %e at %l:%M %p") %></span>
    </div>
    <div class="outgoing_msg_img ">
      <%= cl_image_tag message.user.photo.key, class: "avatar" %>
    </div>
  </div>
<% end %>