<%# bands will be able to upload a background image that can be used as a banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @user.avatar_url %> ); background-position: top;">

    <div class="container">
      <h1 class="band-main-title"><strong> <%= @user.first_name %> </strong></h1>
      <p class="white-font"> <%= @user.location%></p>
      <%# <p>Heavy Rocking Since 1999</p> %>
    </div>

</div>

<div class="m-5"></div>
  <div class="user-container">
    <div class="user-main-container">
      <div class="user-content-container">
<<<<<<< HEAD
        <h1 class="d-flex justify-content-center white-font border-bottom">
          <%= @user.first_name %>
        </h1>
        <% if @user == current_user %>
          <div class="custom-control custom-switch band-toggle">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="<%=@user.looking_for_band%>">
            <label class="custom-control-label" for="customSwitch1">Looking for Band</label>
=======
          <h1 class="d-flex justify-content-center white-font border-bottom">
            <%= @user.first_name %>
          </h1>
        <div class="whole-container-user">
          <div class="left-whole-container">
            <%=cl_image_tag @user.photo.key, class: 'my-3', style: "height: 400px;"%>
          </div>
          <div class="right-whole-container my-3">
            <p><%= @user.bio %></p>
>>>>>>> 7f6de2e1e61c6e791e9cd28c5a8c2dadd3e17a26
          </div>
        <% end %>
      <div class="whole-container-user">
        <div class="left-whole-container">
          <%=image_tag @user.avatar_url, class: 'my-3', style: "height: 400px;"%>
        </div>
        <div class="right-whole-container my-3">
          <p><%= @user.bio %></p>
        </div>
      </div>
    </div>
  </div>
</div>
