<div class="band-main-container">
    <div class="band-content-container">
      <h1 class="d-flex justify-content-center white-font border-bottom">
        <%= @band.name %>
      </h1>
      <div class="whole-container">
        <div class="left-whole-container">
          <%=image_tag @band.image_url, class: 'my-3', style: "height: 400px;"%>
        </div>
          <div class="right-whole-container my-3">
            <p><%= @band.bio %></p>
            <% if !@band.users.include?(current_user) %>
              <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#exampleModal">
                Audition
              </button>
          <% end %>
          </div>
      </div>
    <div class="band-members-container">
      <%@band.band_members.where(is_member: true).each do |record| %>
         <%= image_tag "#{record.user.avatar_url}", class: "avatar audition-avatar" %>
          <div class='ml-1'>- <%= record.user.first_name %> </div>
      <% end %>
    </div>
  </div>
</div>
