<div class="navbar d-flex navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand band-logo m-2" do %>
      <%= image_tag "https://static.thenounproject.com/png/48990-200.png" %>
    <% end %>
    <%= link_to root_path do%>
    <h3 class="header-font white-font navbar-title">Bandable</h3>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div <%= user_signed_in? ? "style='margin-right: 50px;'" : "" %> class="hidden nav-search d-flex">
    <%= form_tag bands_path, method: :get, data: { refresh_list_target: 'form' } do %>
      <div class="search-inputs">
      <%#= submit_tag "Let's Go", class: "search-form-input btn btn-danger" %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control nav-search-input",
      placeholder: "search..."
      %>
      </div>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <% if !current_user.bands.empty? %>
          <div class="band-dropdown-container" style="width: 161px;">
            <div class="btn-band-dropdown dropdown-button">
              <i class="fas fa-users" style="margin-right: 10px;<%= current_user.bands_have_auditions? ? 'color:red;' : ''%> > "></i>
                My Bands
              <i class="fa fa-caret-down ml-3"></i>
            </div>
            <div class="band-dropdown-list dropdown-list hidden" style="min-width:  161px;">
              <% current_user.bands.each do |band| %>
                <% if band.user_is_member?(current_user) %>
                  <%= link_to band_path(band), class: "card-links" do %>
                    <div class="band-item">
                      <% if band.auditions? %>
                        <i class="fas fa-dot-circle" style="position: absolute;color: red;font-size: 11px; right: 139px; top: 8px;"></i>
                      <% end %>
                      <%= cl_image_tag "#{band.photo.key}", class: "avatar band-avatar mx-3" %>
                      <div class="audition-details white-font">
                        <div class="mr-3"><%= band.name %></div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="audition-dropdown-container">
            <div class="btn-audition-dropdown dropdown-button">
              <i class="fas fa-envelope mr-3" style="<%= current_user.invitations? ? 'color:red;' : '' %> " ></i>
              Inbox
              <i class="fa fa-caret-down ml-3"></i>
            </div>

              <div class="audition-dropdown-list right-dropdown-list hidden">
                <% if current_user.band_members.where(is_audition: true).any? %>
                  <div class="audition-list">
                    <p class='border-bottom'>My Auditions</p>
                  </div>
                <% end %>
                <% current_user.bands.each do |band| %>
                  <% if band.band_members.where(user: current_user)[0].is_audition %>
                    <%= link_to band_path(band), class: "card-links" do %>
                      <div class="band-item">
                        <%= cl_image_tag "#{band.photo.key}", class: "avatar band-avatar mx-3" %>
                        <div class="audition-details white-font">
                          <div class="mr-3"><%= band.name %></div>
                        </div>

                      </div>
                    <% end %>
                  <% end %>
                <% end %>
                <div class="inbox-dropdown-list right-dropdown-list">
                    <div class="audition-list">
                      <p class='border-bottom'>My Invitations</p>
                    </div>
                  <% current_user.band_members.each do |member_record| %>
                    <% if member_record.is_audition == false && member_record.is_member == false %>
                      <%= link_to band_path(member_record.band), class: "card-links" do %>
                        <div class="band-item">
                          <div class="d-flex">
                            <%= cl_image_tag "#{member_record.band.photo.key}", class: "avatar band-avatar mx-3" %>
                            <div class="audition-details white-font">
                              <div class="mr-3"><%= member_record.band.name %></div>
                            </div>
                          </div>
                      <% end %>
                          <div class="audition-buttons">
                          <%= simple_form_for member_record, url: band_update_audition_path(member_record.band, member_record) do |f| %>
                            <%= f.hidden_field :is_member, value: true %>
                            <%= f.hidden_field :type, value: 'invitation'  %>
                            <%= f.submit 'Accept', class: 'btn btn-success btn-sm mr-1' %>
                          <% end %>
                          <%= simple_form_for member_record, url: band_update_audition_path(member_record.band, member_record)  do |f| %>
                            <%= f.hidden_field :is_member, value: false  %>
                            <%= f.submit 'Reject', class: 'btn btn-danger btn-sm mr-1' %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
        <% end %>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item nav-word dropdown">
            <%= cl_image_tag "#{current_user.photo.key}", class: "avatar nav-avatar dropdown-toggle m-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Add a Band", new_band_path, class: "dropdown-item" %>
              <%= link_to "My Profile", musician_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
      <% else %>
        <div class="nav-reg">
          <li class="nav-item">
            <strong><em><%= link_to "Log in", new_user_session_path, class: "nav-link" %></strong></em>
          </li>
          <li>
            <strong><em><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></strong></em>
          </li>
        </div>
      <% end %>
        </ul>
  </div>
</div>
