<h1> <%= song.name %></h1>

<div class="rehearsal-form-container">
  <button  class="btn btn-primary btn-rehearsal-dropdown" data-dropdown-id="<%= song.name.split(" ").join('-')%>">
    Add Inspiration
  </button>
  <div class="rehearsal-form-dropdown rehearsal-form-element hidden" id="<%= song.name.split(" ").join('-')%>">
  <%= simple_form_for([@band, song, @song_file], :defaults => { :input_html => { :class => "rehearsal-form-element" } }, html: { class: 'rehearsal-form-element'}) do |f| %>
    <%= f.input :song_document, wrapper_html: { class: 'rehearsal-form-element' }, :label_html => { :class => 'rehearsal-form-element' }, class: "rehearsal-form-element", label: "Select File" %>
    <%= f.input :text_content, wrapper_html: { class: 'rehearsal-form-element' }, :label_html => { :class => 'rehearsal-form-element' }, class: "rehearsal-form-element" %>
    <%= f.submit "Send documents" %>
  <% end %>
  </div>
</div>



<% song.song_files.each do |song_file|  %>
    <%= cl_video_tag song_file.song_document.key,:source_types => [:mp3],:controls => true,:poster => false %>
<% end %>
