<div class="song-title-header">
  <h2>
    <%= song.name %>
  </h2>
  <button class="btn btn-danger inspiration-button btn-rehearsal-dropdown" data-dropdown-id="<%= song.name.split(" ").join('-')%>">
    + Add Inspiration
  </button>
</div>

<div class="rehearsal-form-container">
  <div class="rehearsal-form-dropdown rehearsal-form-element hidden" id="<%= song.name.downcase.split(" ").join('-')%>">
  <%= simple_form_for([@band, song, @song_file], :defaults => { :input_html => { :class => "rehearsal-form-element" } }, html: { class: 'rehearsal-form-element'}) do |f| %>
    <%= f.input :song_document, wrapper_html: { class: 'rehearsal-form-element' }, :label_html => { :class => 'rehearsal-form-element' }, class: "rehearsal-form-element", label: "Select File" %>
    <%= f.input :text_content, wrapper_html: { class: 'rehearsal-form-element' }, :label_html => { :class => 'rehearsal-form-element' }, class: "rehearsal-form-element" %>
    <%= f.submit "Send" %>
  <% end %>
  </div>
</div>


<div class="inspiration-container">
  <% song.song_files.each do |song_file|  %>
    <% if song_file.song_document.content_type.include?('audio') %>
      <div class="inspiration-item">
        <div class="user-avatar hidden">
          <%= cl_image_path song_file.user.photo.key %>
        </div>
        <%= cl_image_tag "#{song_file.user.photo.key}", class: "avatar audition-avatar mx-3" %>
        <i>"<%= song_file.text_content%>"</i>
          <div class="hidden file-path audio-file-path">
            <%= cl_video_path song_file.song_document.key,:source_types => [:mp3] %>
          </div>
        <i class="fas fa-volume-up inspiration-icon"></i>
      </div>
    <% end %>
    <% if song_file.song_document.content_type.include?('image') %>
      <div class="inspiration-item">
        <div class="user-avatar hidden">
          <%= cl_image_path song_file.user.photo.key %>
        </div>
        <%= cl_image_tag "#{song_file.user.photo.key}", class: "avatar audition-avatar mx-3" %>
        <i>"<%= song_file.text_content%>"</i>
        <div class="hidden file-path photo-file-path">
          <%= cl_image_path song_file.song_document.key%>
        </div>
        <i class="fas fa-images inspiration-icon"></i>
      </div>
    <% end %>
    <% if song_file.song_document.content_type.include?('video') %>
      <div class="inspiration-item">
        <div class="user-avatar-path hidden">
          <%= cl_image_path song_file.user.photo.key %>
        </div>
        <%= cl_image_tag "#{song_file.user.photo.key}", class: "avatar audition-avatar mx-3" %>
        <i>"<%= song_file.text_content%>"</i>
        <div class="hidden file-path video-file-path">
            <%= cl_video_path song_file.song_document.key,:source_types => [:mp3] %>
        </div>
        <%# <%= cl_video_path song_file.song_document.key, :controls => true %>
        <i class="fas fa-video inspiration-icon"></i>
      </div>
    <% end %>
  <% end %>
</div>




<%# <%= cl_video_tag song_file.song_document.key,:source_types => [:mp3],:controls => true,:poster => false %>
<%# <%=cl_video_tagtrack.track.key,:source_types => [:mp3],:controls => true,:poster => false, class:"track-play play-track", id:"play-track"%>
