

<div class="banner" style="background-image: url('<%= image_path "banner.jpeg"%>')">
  <div class="container">
    <h1>Bandable</h1>
    <p>Central creativity hub for musicians around the world</p>
  </div>
</div>

<% if user_signed_in? %>
  <div class="container">
    <div class="cards">
      <div class="card">
        <%= image_tag "find.png" %>
        <h4>Find</h4>
        <p>Find a band you want to join.</p>
      </div>
      <div class="card">
        <%= image_tag "meet.png" %>
        <h4>Meet</h4>
        <p>Meet band members around the world.</p>
      </div>
      <div class="card">
        <%= image_tag "note.png" %>
        <h4>Collaborate</h4>
        <p>Finally you will be able to bring your inspirations to life.</p>
      </div>
    </div>
  </div>


  

<div class="container">
  <div class="cards-container">
    <figure class="image-block">
	<h2><%= link_to @bands.name.capitalize, band_path(@bands.first)%></h2>
	<%= image_tag @bands.first.image_url %>
  <% @bands.first.users.each do |user| %>
    <h6><i>Band member -<%= user.first_name  %> <%= user.last_name  %></i></h6>
  <% end %>
    <p><%= @bands.first.location %></p>
	<figcaption>
		<h3>
			Bio
		</h3>
		<p><%= @bands.first.bio%></p>
		<button>
			More Info
		</button>
	</figcaption>
</figure>
</div>
</div>
<% end %>

