<%# <div class="banner" style="background-image: url('https://dice-media.imgix.net/homepage/hero-video-desktop.mp4')"> %>
<div class="video-bg-div">
  <%= video_tag "homepage_vid.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "header-video" %>
</div>
  <div class="titles">
    <h1 class="main-title white-font">Connect - Compose - Perform</h1>
    <div class="sub-title white-font">Central creativity hub for musicians around the world</div>
    <%= form_tag bands_path, method: :get, class: 'form-inline mt-5' do %>
      <div class="form-group mr-2">
        <%= submit_tag "Search", class: "btn btn-danger" %>
      </div>
      <div class="form-group w-50">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control w-50",
        placeholder: "Find a band or musician"
        %>
      </div>
    <% end %>
  </div>
</div>

<div class="container landing-cards-container">
  <div class="cards">
    <div class="card">
      <%= image_tag "find.png" %>
      <h4>Find</h4>
      <p>Find bands you want to join. Search by name, genre or location.</p>
    </div>
    <div class="card">
      <%= image_tag "meet.png" %>
      <h4>Meet</h4>
      <p>Collaborate with your new team anywhere in the world.</p>
    </div>
    <div class="card">
      <%= image_tag "note.png" %>
      <h4>Play</h4>
      <p>Jam. Record. Rock on. Your next hit awaits.</p>
    </div>
  </div>
</div>



<div class="index-card-container white-font">
  <div class="card-container-header w-100">
    <div class="card-cont d-flex justify-content-between align-items-center">
      <div class="card-container-title">
        <h1>Recommended Bands:</h1>
      </div>
      <% if params[:query].present? %>
        <%= form_tag bands_path, method: :get, class: 'form-inline' do %>
          <div class="form-group d-flex">
            <%= text_field_tag :query, params[:query], class: "d-none", placeholder: "Find a band or musician"
            %>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="result_type" value="all" <%= 'checked=true' if !params[:result_type].present? || params[:result_type] == 'all' %> onchange="this.form.submit()" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">All</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="result_type" value="bands" <%= 'checked=true' if params[:result_type] == 'bands' %> onchange="this.form.submit()" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">Bands</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline3" name="result_type" value="musicians" <%= 'checked=true' if params[:result_type] == 'musicians' %> onchange="this.form.submit()" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline3">musicians</label>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @results.empty? %>
  <h2 class="py-5 my-5">No results found. Please search again!</h2>
  <% else %>
  <% @results.each do |band| %>
    <figure class="image-block">
      <%= cl_image_tag band.photo.key %>

      <figcaption>
        <h3>
        <%= band.class == Band ? band.name.upcase : band.first_name.upcase %>
        </h3>
        <p> <%= band.bio[0..150].gsub(/\s\w+\s*$/, '...') %></p>
        <p><%= band.location %></p>
        <p><%= band.genre %></p>
        <% if band.looking_for_instrument.blank? %>
          <br><%=  %>
        <% else %>
          <p> Looking for: <%= band.looking_for_instrument %></p>
        <% end %>
        <% if band.class == Band %>
          <%= link_to band_path(band) do %>
            <button>
              More Info
            </button>
          <% end %>
        <% else %>
          <%= link_to musician_path(band) do%>
            <button>
              More Info
            </button>
          <% end %>
        <% end %>
      </figcaption>
    </figure>
  <% end %>
  <% end %>
</div>
