<h1>Bands#index</h1>
<p>Find me in app/views/bands/index.html.erb</p>

<div class="container">
  <div class="cards-container">
      <% @bands.each do |band| %>
            <div class="band-name">
                <h2><%= link_to band.name.capitalize, band_path(band)%></h2>
                  <p><%= band.bio[0..150].gsub(/\s\w+\s*$/, '...') %></p>
                    <% band.users.each do |user| %>
                      <p><i>Band member -<%= user.first_name  %> <%= user.last_name  %> </i></p>
                      <% end %>
                      <p class='m-3'><%= band.location %></p>
                      </div>
                    <div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  </div>
</div>
