<div class="container">
  <div class="row justify-content-center">
    <div class="form-container">
    <br /><h2 class="text-center white-font">Add your band</h2><br />

      <%= simple_form_for(@band, html: { class: "white-font" }) do |f| %>
        <%= f.input :name %>
        <%= f.input :bio %>
        <%= f.input :genre, :collection => %w[Rock Jazz Alternative RnB Hip-Hop Heavy Metal Country Folk Pop Indie] %>
        <%= f.input :location %>
        <%= f.input :current_member_count %>
        <%= f.input :photo, as: :file %>

        <div class="col text-center"><%= f.submit "Submit", class: "btn btn-primary" %></div><br />
      <% end %>
    </div>
  </div>
</div>
