<!DOCTYPE html>
<html>
  <head>
    <title>Bandable!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://static.thenounproject.com/png/48990-200.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="main-container">
      <%= yield %>
      <%= render 'shared/flashes' %>
    </div>

    <%= render 'shared/footer' %>
  </body>

</html>
